@{
    ViewBag.Title = "联系我们";
}
<h3>@ViewBag.Title</h3>


<address>
    <strong>地址：</strong>上海松江区洞舟路99号B218室<br />
    <strong>销售经理：</strong><a href="mailto:daiqingpm@163.com">daiqingpm@163.com</a><br />
    <strong>公司总裁:</strong><a href="mailto:mjb-709@163.com">mjb-709@163.com</a>
</address>